.swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 230px;
}

.swiper {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .swiper-wrapper {
    height: 637px;
  }
}

@media (min-width: 1280px) {
  .swiper-wrapper {
    height: auto;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 250px;
  word-wrap: break-word;
}

swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 35px;
  top: 55%;
  left: 20px;
}

@media (min-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 195px;
    left: 514px;
  }
}

@media (min-width: 1280px) {
  swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
    top: 293px;
    left: 725px;
  }
}

@media (min-width: 768px) {
  swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    gap: 25px;
  }
}

@media (min-width: 1280px) {
  swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    gap: 36px;
  }
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 6px;
  height: 6px;
  background-color: white;
  /* font-size: 28px; */
  font-size: 20px;
  color: white;
  font-weight: 200;
  border-radius: 25%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 40px;
}

@media (min-width: 1280px) {
  .swiper-pagination-bullet {
    font-size: 28px;
  }
}

.swiper-pagination-bullet-active {
  background-color: white;
  font-weight: 500;
}

.swiper-pagination-bullet span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 200px;
}

.swiper-pagination-bullet-active span {
  display: flex;
  margin-left: 16px;
  color: white;
  font-weight: 500;
}
